*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}

body {
    width: 100%;
    height: 100%;
}
header{
    width: 100%;
    background-color: rgb(76, 180, 240);
    display: flex;
    flex-direction: row;
    align-items: center;
    color: aliceblue;
   
}

header .diegoArmando{
    margin: 1%;
    align-items: center;
}

header h1{
    font-size: 300%;
}
header h2{
    font-size: 158%;
}

header nav{
    align-items: end;
    justify-self: end;

}

header li{
    text-decoration: none;
    list-style: none;
    padding: 2%;
   
   
}

header ul{
    display: flex;
    flex-direction: row;
    margin-left:5%;
   
 

   
}

header a{
    color: aliceblue;
    font-size: 75%;
   
}

main{
    width: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
}
main nav{
    background-color: black;
    width: 150px;
}

main nav ul li a{
    color: aliceblue;
    font-size: 80%;
   
   
}

main nav ul{
    margin: 5%;
    text-decoration: none;
    list-style: none;

}

main section{
    background-image: url("./imagenes/back.jpg");
    display:flex;
    width: 100%;
    height:500px;
    margin: 0%;
    padding: 0%;

}

#cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#cards img{
    width: 100%;
    overflow: hidden;
}

